<div class="container">
  <div class="row p-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 d-flex justify-content-center">
      <%= image_tag 'logo.png', class: "img_1", alt: 'logo' %>
    </div>
    <div class="col-sm-4"></div>
  </div>


  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 p-3 dive_style">
      <center><h3>Register</h3></center>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), onsubmit: "foo();") do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mt-4 p-2 aplah_1',
                            placeholder: 'Business Email', required: true %>
        </div>

        <div class="form-group">
          <%= f.text_field :user_name, autofocus: true, autocomplete: "email", class: 'form-control p-2 aplah_1', placeholder: 'Full Name', required: true %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control p-2 aplah_1', placeholder: 'Password', required: true %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control p-2 aplah_1', placeholder: 'Confirm Password', required: true %>
        </div>

        <div class="form-group">
          <%= f.text_field :phone, autofocus: true, autocomplete: "email", class: 'form-control p-2 aplah_1', placeholder: 'Phone Number', required: true %>
        </div>

        <%= f.submit 'Proceed', class: 'btn btn-lg btn-block p-2 alpha_2', data: {disable_with: "Proceeding..."} %>
        </div>
      <% end %>
      </div>
</div>