
<div class="container">
	<%= form_for(resource, as: resource_name, url: new_vendor_registration_path, html: {class: 'form-signin'}) do |f| %>

		<%= image_tag 'logo.png', alt: 'logo', width: '350', height: '250', class: 'logo' %>
		
		<h1 class="h3 mb-3 font-weight-normal">CleanBee Vendor Registration</h1>
		
		<label for="inputEmail" class="sr-only">Email address</label>
		<%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: 'email', placeholder: 'Email address', required: true %>
		
		<label for="inputPassword" class="sr-only">Password</label>
		<%= f.password_field :password, class: 'form-control', autocomplete: 'new_password', placeholder: 'Password', required: true %>
		
		<label for="inputPassword" class="sr-only">Password Confirmation</label>
		<%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'new_password', placeholder: 'Password Confirmation', required: true %>
		
		<%= f.submit 'Sign up', class: 'btn btn-lg btn-primary btn-block' %>
		<p class="mt-5 mb-3 text-muted">CleanBee &copy; 2019</p>

	<% end %>

</div>