<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<style type="text/css">
  .dropdown-container {
    display: none;
  }
</style>

<div class="home">
  <div class="container-fluid display-table" style="padding-left: 0;">
    <div class="row display-table-row">

      <%= render 'shared/sidebar' %>

      <div class="col-md-10 col-sm-11 display-table-cell v-align" style="background-color: #F5F5F5;height: 665px">
        <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
        <%= render 'shared/navbar' %>
        <!-- cards functions-->
        <div class="user-dashboard">
          <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-12">
              <div class="card" style="background-color: #6AB0FF; border-radius: 10px 10px 10px 10px; margin-top: 20px;">
                <a href="<%= url_for(action: 'index', controller: 'orders') %>" style="text-decoration: none;">
                  <div class="card-header"></div>
                  <div class="card-content" style="padding: 10px; width: auto; text-align:center;">
                    <p style="color: white; padding: 0px; margin: 0px;">New Orders</p>
                    <p style="color: white; font-size: 35px; padding: 0px; margin: 0px;"><%= @new_orders || 0 %></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-12">
              <div class="card" style="background-color: #70E092; border-radius: 10px 10px 10px 10px; margin-top: 20px;">
                <a href="<%= url_for(action: 'index', controller: 'orders') %>" style="text-decoration: none;">
                  <div class="card-header">
                  </div>
                  <div class="card-content" style="padding: 10px; width: auto; text-align:center;">
                    <p style="color: white; padding: 0px; margin: 0px;">On Going orders</p>
                    <p style="color: white; font-size: 35px; padding: 0px; margin: 0px;"><%= @ongoing_orders %></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-12">
              <div class="card" style="background-color: #FC9A52; border-radius: 10px 10px 10px 10px; margin-top: 20px;">
                <a href="<%= url_for(action: 'index', controller: 'orders') %>" style="text-decoration: none;">
                  <div class="card-header">
                  </div>
                  <div class="card-content" style="padding: 10px; width: auto; text-align:center;">
                    <p style="color: white; padding: 0px; margin: 0px;">Order History</p>
                    <p style="color: white; font-size: 35px; padding: 0px; margin: 0px;"><%= @completed_orders %></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-12">
            </div>
          </div>
          <!-- end row-->
          <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-12">
              <div class="card" style="background-color: white; border-radius: 10px 10px 10px 10px; margin-top: 20px;">
                <a href="#" style="text-decoration: none;">
                  <div class="card-header">

                  </div>
                  <div class="card-content" style="padding: 10px; width: auto; text-align:center;">
                    <p style="color: #826EC5; padding: 20px; margin: 0px;">Your Shop rating</p>
                    <% for i in 0..(@current_vendor.shop.rating.to_i - 2) %>
                      <span class="fa fa-star"></span>
                    <% end %>
                    <span class="fa fa-star-o"></span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2 col-sm-5 col-xs-12">
              <div class="card" style="background-color: white; border-radius: 10px 10px 10px 10px; margin-top: 20px; width: 70%;">
                <a href="#" style="text-decoration: none;">

                  <div class="card-content" style="padding: 13px; width: auto; text-align:center;">
                    <p style="color: #826EC5; padding: 6px; margin: 0px;">Shop Availability</p>
                    <div class="switch_box box_2">
                      <input type="checkbox" class="switch_2">
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
      </div>
      <!-- end col 10-->
    </div>

  </div>
  <!-- end of container-->

</div>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>
